<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-simpleuwp"
    version="1.2.1">

    <js-module src="www/simpleuwpplugin.js" name="simpleuwpplugin">
        <clobbers target="window.simpleuwpplugin" />
    </js-module>

    <!-- windows -->
    <platform name="windows">
        <js-module src="src/windows/simpleuwppluginProxy.js" name="SimpleUwpProxy">
            <merges target="" />
        </js-module>
        <framework src="src/windows/SimpleUwp.winmd" custom="true"/>
    </platform>

</plugin>